<!DOCTYPE html>
<html lang="en">
<head>
    <title>Play hangman</title>
    <meta charset="utf-8" />
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="screen" title="bootstrap" charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" media="screen" title="bootstrap-theme" charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/hangman.css' %}" type="text/css" title="hangman style" charset="utf-8" />
</head>
<body>
    <nav class="navbar navbar-inverse mynav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Hangman</a>
            </div> <!-- navbar-header -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle dropdown-1" data-toggle="dropdown">
                            Welcome, {{ request.session.name }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/leaderboard">Leaderboard</a></li>
                            <li><a href="/settings">Settings</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul> <!-- ul.nav navbar-nav navbar-right -->
            </div> <!-- div.collapse -->
        </div> <!-- container-fluid -->
    </nav>

    <div class="container">
        <h2>Settings</h2>
        <h3>Coming Soon...</h3>
        <h4>Customize word bank, theme selection, choose number of guesses, and more.</h4>
 
        <a href="/">Back</a>
    </div>
</body>
</html>

