{% extends "base.html" %}
{% block title %}Hangman Settings{% endblock %}
{% block content %}
    <div class="container">
        <h2>Settings</h2>
        <h3>Coming Soon...</h3>
        <h4>Customize word bank, theme selection, choose number of guesses, and more.</h4>
        <a href="/">Back</a>
    </div>
{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
