{% extends "base.html" %}
{% block title %}Play hangman{%endblock%}

{% block content %}
    <div class="container-fluid">
        <h1 class="text-center" style="margin-bottom: 30px;"><em>Can you guess the word before all the apples fall?</em></h1>

        <div id="wordPlay" class="col-md-4 col-md-offset-1">
            <h4>Your word has {{ length }} characters.</h4>

            <div id="guessDiv" style="margin-bottom: 50px;">      
                <h4><span style="padding-right: 15px;">Guesses left:</span><span id="guess_count">{{ guess_count }}</span></h4>
                <h3><span style="padding-right: 10px;">Word: </span><span id="word">{{ word }}</span></h3>
            </div> <!-- end div#guessDiv -->

            <h4 id="info">
                <span id="errors" class="text-danger"></span>
                <span id="occurrences" class="text-success"></span>
                <span id="missed" class="text-danger"></span>
            </h4>

            <!-- form for entering guess -->
            <div id="guessForm">
                {% if not game_over %}
                <form name="guess" id="guess_form" action="{% url 'guess_url' %}" method="post" class="form-inline">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="guess_text">Guess: </label>
                        <input type="text" id="guess_text" name="guess" placeholder="Letter or Word" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" class="form-control">Guess</button>
                    </div>
                </form>
                {% endif %}
            </div> <!-- end div#guessForm -->

            <!-- game status -->
            <div id="status">
            {% if win %}
                <h3 id="win" class="text-success">You guessed it!</h3>
                <h6><a target="_blank" class="text-info" href="http://www.dictionary.com/browse/{{ request.session.secret }}">Click for definition</a></h6>
                <a id="reset" href="{% url 'reset_url' %}" class="btn btn-primary">Play Again</a>
            {% elif secret %}
                <h4 id="secret" class="text-info">You have no more guesses. The word is <a target="_blank" class="text-info" style="text-decoration: underline;" title="Click for definition" href="http://www.dictionary.com/browse/{{ request.session.secret }}">{{ request.session.secret }}</a>.</h4>
                <a id="reset" href="{% url 'reset_url' %}" class="btn btn-primary">Play Again</a>
            {% endif %}
            </div>

        </div> <!-- end div#wordPlay -->
 
        <div id="canvas" class="col-md-7">
            <h4>Missed: <span id="missed_guesses" class="text-danger" style="margin-left: 10px;">{{ missed_guesses }}</span></h4>
            <canvas id="canvasRegn" width="600" height="450" style="border-radius: 20px; margin-top: 2px; box-shadow: 10px 10px 5px #888888"></canvas>
        </div>
    </div> <!-- end div.container -->

    {% if request.session.debug %}
    <p>secret: {{ request.session.secret }}</p>
    {% endif %}
{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/canvas.js' %}"></script>
    <script src="{% static 'js/play.js' %}"></script>
{% endblock %}
